
.sortBy a {
    cursor:pointer;
}

.sortBy a:hover {
    color:#213857;
}

body.paranjas:after{
    content: "";
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.70);
    position: absolute;
    top:0;
    z-index: 11;
}

.light-theme .current {
    border-color: #0069D9;
    background-color: #0069D9;
}

.gamesList {
    width:1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
}

.games-block {
    width: 250px;
    height: 325px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    position: relative;
}

.games-block h3 {
    position: absolute;
    color:white;
    z-index: 10;
    width:100%;
    top:40%;
    text-align: center;
    display: none;
    font-family: Arial;
}

#editGame {
    display:none;
}

#editGame .left img {
    max-width: 100%;
    height: 220px;
    margin: 0 auto;
    display: block;
    margin-right: auto;
    margin-bottom:20px;
    min-width: 150px;
}

#editGame.show {
    display: flex;
    flex-wrap:wrap;
    width:600px;

    position: fixed;
    top: 35%;
    background: white;
    padding: 30px;
    left: 50%;
    margin-left: -330px;
    z-index: 12;
}

body {
    position: relative;
    min-height: 100vh;
    margin:0;
    padding-top: 40px;
}

#editGame label {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom:5px;
    margin-top:10px;
}

.close {
    position:absolute;
    right:5px;
    top:0px;
    font-size:32px;
    font-weight: 0;
    font-family: Arial;
}

.close:hover {
    cursor:pointer;
    color: #0069D9;
}

#editGame .left {
    width:50%;
}

#editGame .right {
    width:50%;
}

#editGame input[type="submit"] {
    width:250px;
}

.games-block h3 {
    display:block;
}

.games-block div.rating {
    width: 100%;
    position: relative;
    padding-right: 6px;
    padding-top: 7px;
    display:none;

    font-size: 40px;
    text-align: right;
    color: white;
    z-index: 10;
    font-family: Arial;
    box-sizing: border-box;
}

.games-block div.rating {
    display:block;
}

.games-block:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.45);
    position:absolute;
    width:100%;
    height:100%;
    display: block;
    top:0;
    left:0;
}

.games-block .price {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -37.5px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 100;
    border-radius: 16px;
    font-family: Arial;
    padding: 6px;

    background-color: #0069D9;
    color:white;
    text-shadow: 1px 1px 1px #555;
    z-index: 10;
}

.games-block .price:hover {
    cursor: pointer;
    background-color: #0050A6;
}

.games-block .price:after {
    content: '₽';
    transform: translateX(4px);
}

.games-block div.platforms {
    display: none;
    position: absolute;
    top: 5px;
    left: 3px;
}

.games-block div.platforms {
    display: flex;
}

.games-block .edit, .games-block .vote {
    position:absolute;
    width:auto;
    top:57%;
    color:white;

    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 1px 1px 1px #213857;
    padding: 7px 20px;
    border-radius: 10px;
    left:50%;
    margin-left:-87px;
}

.games-block .vote {
    top:58.5%;
    margin-left: -70px;
}

.games-block .edit:hover, .games-block .vote:hover {
    background-color: #0050A6;
}

.Windows, .SteamOS, .MacOs {
    width:40px;
    height:40px;
    background-size: cover;
    z-index: 10;
    position: relative;
}

.MacOs {
    background-image: url(/image/mac.png);
    width: 36px;
    height: 36px;
}

.SteamOS {
    background-image: url(/image/steam.png);
}

.Windows {
    background-image: url(/image/win.png)
}

.sortBy {
    width:1080px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    box-sizing: border-box;;
}

.sortBy a {
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    font-weight: 600;
}

.sortBy a:hover {
    text-decoration: none;
    color: #0069D9;
}

.sortBy p {
    margin-right: 10px;
}

.addGame {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: transparent;
    font-size: 25px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    background-color: #0069D9;
    color: white;
    margin-top: 20px;
}

.addGame:hover {
    cursor: pointer;
    background-color: #0050A6;
}

.simple-pagination ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

.simple-pagination {
    margin-top:20px;
}

h1 {
    text-align: center;
    font-family: Arial;
    margin: 0 0 10px 0;
}

#editGame input[type="submit"].hide {
    display:none;
}

a.delete {
    position: absolute;
    width: 100%;
    top: 70%;
    color: white;
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color:white;
}

#votePanel.hide {
    display:none;
}

#votePanel {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 20px;
    z-index: 12;
    border: 2px solid #ccc;
    border-radius: 20px;
}

#votePanel input {
    width: 40px;
    margin-top: 10px;
    margin-bottom:10px;
}

.findBtn {
    color:white;
    background-color: #0069D9;
    border:0;
    padding: 5px 10px;
    border-radius: 6px;
}

.findBtn:hover {
    background-color: #0050A6;
    cursor:pointer;
}

#findInput  {
    height: 20px;
    width: 150px;
    padding-left: 7px;
    margin-left: 5px;
    border-radius: 5px;
}

#selectSort {
    border-radius: 5px;
    height: 26px;
}

.sortBy p {
    margin-top:7px;
}

.reset {
    position: relative;
    top: 4px;
}

.light-theme a, .light-theme span {
    text-decoration: none;
}

.pop {
    position: fixed;
    top:0;
    right:0;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    z-index:1000;
    border: 2px solid #0069D9;

    animation-duration: 0.55s;  /* Время работы анимации */
    animation-fill-mode: both;  /* Поведение анимации */
    animation-name: fadeInDown; /* Имя анимации */
}
 
@keyframes fadeInDown { /* Сама анимация */
    0% {                /* Старт анимации */
        opacity: 0;
        transform: translate3d(0px, -100%, 0px);
    }
    100% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 1;
        transform: none;
    }
}
